@model IEnumerable<Newone.Models.Instructor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_AdminLayout.cshtml";
}

<h1>Instructors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
          

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </td>
             
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InstructorId" class="btn btn-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.InstructorId" class="btn btn-success">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.InstructorId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
