@model IEnumerable<Instructor>
    <!-- Start our teacher -->
<div id="Instructor">
    <section id="mu-our-teacher">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-our-teacher-area">
                        <!-- begain title -->
                        <div class="mu-title">
                            <h2>Our Instructors</h2>
                            <p>The Best Instructor Ever</p>
                        </div>
                        <!-- end title -->
                        <!-- begain our teacher content -->
                        <div class="mu-our-teacher-content">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-3 col-md-3  col-sm-6">
                                        <div class="mu-our-teacher-single">
                                            ّ
                                            <figure class="mu-our-teacher-img">
                                                <img src="@Url.Content(item.InstructorImg)" alt="teacher img">
                                                <div class="mu-our-teacher-social">
                                                    <a @item.Fb><span class="fa fa-facebook"></span></a>
                                                    <a @item.Tw><span class="fa fa-twitter"></span></a>
                                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                                </div>
                                            </figure>
                                            <div class="mu-ourteacher-single-content">
                                                <h4>@item.InstructorName</h4>
                                                <span>@item.InstructorPosition</span>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                        <!-- End our teacher content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    
    <!-- End our teacher -->
