@model IEnumerable<Newone.Models.Approve>

@{
    ViewData["Title"] = "CoursesForuser";
    Layout = "~/Areas/UserDashboard/Views/Shared/_UserLayout.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationT)
            </th>
     
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationT)
            </td>

            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ApproveId">Edit</a> |*@
                <a asp-action="CoursesUserDetail" asp-route-id="@item.ApproveId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.ApproveId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
